// =============================================================================
// Theme hacks for CKEditor
// =============================================================================

// Wysiwyg hacks
//
wysiwyg-hacks()
	.last-p-to-span
		p:last-child
			margin-bottom: 0

	.first-p-to-span
		p:first-child
			margin: 0

	.p-to-span
		p
			margin: 0
